{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}
  Авторизация
{% endblock title %} 

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extracss %}

{% block content %}
<div class="login-section">
  <div class="wrapper">
    <div class="title"><span>Авторизация</span></div>
    <form action="{% url 'account_login' %}" method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}
      {% endif %}

      {% for field in form %}
        {% if field.name != "remember" %}  {# Исключаем стандартный чекбокс #}
          <div class="row">
            <i class="fas {% if 'password' in field.name %}fa-lock{% else %}fa-user{% endif %}"></i>
            <input id="id_{{ field.name }}" name="{{ field.name }}" 
                  value="{{ field.value|default_if_none:'' }}" 
                  type="{{ field.field.widget.input_type }}" 
                  placeholder="{{ field.label }}" required />
          </div>
          {% for error in field.errors %}
            <p style="color: red;">{{ error }}</p>
          {% endfor %}
        {% endif %}
      {% endfor %}

      <div class="remember-pass-container">
        <div class="checkbox-row">
          <input type="checkbox" id="id_remember" name="remember" />
          <label for="id_remember">Запомнить меня</label>
        </div>
        <div class="pass">
          <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
        </div>
      </div>    

      <div class="row button">
        <input type="submit" value="Войти" />
      </div>

      <div class="signup-link">Не знакомы с нами? <a href="{% url 'account_signup' %}">Создать аккаунт</a></div>
    </form>
  </div>
</div>
{% endblock content %}

{% block jsblock %}
  <script src="{% static 'js/login.js' %}"></script> 
{% endblock jsblock %}
