{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock title %} 

{% block extracss %}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock extracss %}

{% block content %}
<div class="login-section">
  <div class="wrapper">
    <div class="title"><span>Регистрация</span></div>
    <form action="{% url 'users:registration' %}" method="post">
      {% csrf_token %}
    
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}
      {% endif %}
    
      {% for field in form %}
        <div class="row">
          <i class="fas fa-user"></i>
          <input id="id_{{ field.name }}" name="{{ field.name }}" 
                value="{{ field.value|default_if_none:'' }}" 
                type="{% if 'password' in field.name %}password{% else %}{{ field.field.widget.input_type }}{% endif %}" 
                placeholder="{{ field.label }}" required />
        </div>
        {% for error in field.errors %}
          <p style="color: red;">{{ error }}</p>
        {% endfor %}
      {% endfor %}
      <div class="row button">
        <input type="submit" value="Зарегистрироваться" />
      </div>
      <div class="signup-link">Знакомы с нами? <a href="{% url 'users:login' %}">Авторизоваться</a></div>
    </form>
  </div>
</div>
{% endblock content %}