{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}


<div class="site-section">
<div class="container">

  <div class="row mb-5 align-items-center">
    <div class="col-md-7">
      <h2 class="heading-39291 mb-0">Услуги</h2>
    </div>
  </div>

  <div class="row">
    {% for info in categories %}
      <!-- Товар -->
      <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|divisibleby:3|yesno:'0,100,200' }}">
        <div class="service-29193 text-center">
          <span class="img-wrap mb-5">
            <img src="{{ info.svg_image.url }}" alt="Image" class="img-fluid">
          </span>
          <h3 class="category-name mb-4"><a href="{% url 'services:service' info.slug%}">{{ info.name }}</a></h3>
        </div>
      </div>
    {% endfor %}

  </div>

</div>
</div>

</div>
</div>
{% endblock content %}
